.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 10px;
  margin-bottom: 400px;
  width: 100%;
  margin: 10px 10px 10px 10px;
} 
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 30px;
  margin-top: 20px;
  margin-bottom: 200px;
  width: 100%;

} 
.mintbutton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
  padding: 5px 45px 0px 10px;
}
.slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
  padding: 5px 5px 0px 10px;
  margin-left: 30px;
}
.mintpage {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  justify-items: left;
  width: 30%;
  gap: 20px;
  border-radius: 10px;
  padding: 10px;

} 
.mintpage2 {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  justify-items: left;
  width: 35%;
  border-radius: 10px;
  background-Color:#222325d8;
  box-shadow: #4246428e 2px 2px 10px 0px !important;
  gap: 30px;
  margin: 5px;

} 
.mintimage {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  justify-items: left;
  width: 50%;
  margin: 0px 0px 0px 10px;
  padding: 20px;
  box-shadow: #4246428e 2px 2px 10px 0px !important;
  border-radius: 5px;
  gap: 0px;
}  
.mintimage2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 50%;
  border-radius: 5px;
  box-shadow: #4246428e 2px 2px 10px 0px !important;
  margin: 0px 35px 0px 5px;
}  
.mintimage3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
  border-radius: 5px;
  margin: 0px 35px 0px 5px;
}  
.mintbox {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  justify-items: left;
  width: 100%;
  box-shadow: #4246428e 2px 2px 10px 0px !important;
  border-radius: 10px;
  padding: 15px;
  padding: 20px;
  gap: 5px;

} 
.mintbox2 {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  justify-items: left;
  width: 100%;
  border-radius: 5px;
  gap: 10px;
  padding: 10px 20px;
} 
.mintbox3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
  max-width: 250px;
  border-radius: 5px;
  gap: 10px;
} 
.mintbox4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
  max-width: 200px;
  border-radius: 5px;
  margin-left: 10px;
} 
.mintdetails {
  background: -webkit-linear-gradient(#546887, #9cb7e0, #546887);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 14px;
  font-weight: 500;
  gap: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;

} 
.social {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  justify-items: left;
  width: 100%;
  margin: 0 10px;
  gap: 10px;
}
.socialicons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  border: 1px solid #74777431;
  gap: 30px;

}
.account {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  justify-items: left;
  margin: 10px;
  width: 30%;
  gap: 5px;
}
.projecttitle {
  background-color:#222325d8;
  justify-content: center;
  color: #d8d2d2b2;
  justify-items: center;
  align-items: center;
  font-style: italic;
  font-size: 20px;
  font-weight: 700;
  border-radius: 16px 16px 3px 3px;
  line-height: 10px;
  padding:  20px 20px 20px 20px;
  font-family: Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";


}
.slideramount {
  background-color: #383a3863 !important;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center ! important;
  font-size: 12px;
  font-weight: bold;
  padding: 0px 10px 0px 10px;
  border-radius: 50px;
  line-height: 30px;
  font-family: Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";


}
.projectdescription {
  color: #d8d2d2b2;
  background-clip: text;
  justify-content: left;
  justify-items: left;
  align-items: left;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  font-family: Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}
.gradientText {
  color: #d8d2d2b2;
  font-size: 12px;
  font-weight: 500;
  padding-left: 2px;
}
.gradientText2 {
  background: -webkit-linear-gradient(#c9cccf, #9cb7e0, #b6bbc2);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.timeContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-items: center;
  background-color: #ffffff00;
  width: 50%;
  border-radius: 10px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}
.countdownWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 1px;
  background-color: #ffffff00;
  width: 100%;
  border-radius: 30px;
}  
.starttime {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-items: center;
  box-shadow: #4246428e 2px 2px 10px 0px !important;
  width: 100%;
  padding: 3px 5px;
  margin-top: 10px;
  gap: 1px;
  border-radius: 10px;
}
.valueContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
  border-radius: 5px;
  gap: 1px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}